html {
    position: relative;
    min-height: 100%;
}

div.page-header {
    text-align: center;
}

p.proj-desc {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.created_by a {
    color: black;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 380px;
    background-color: #f5f5f5;
    font-size: 16px
}

h4.footer-header {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

footer.footer li span {
    background-color: #d82424;
}

.footer_column ul {
    padding-left: 18px;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 840px;
}

@media (min-width: 768px) {
    body {
        /* Margin bottom by footer height */
        margin-bottom: 720px;
    }
}

@media (min-width: 992px) {
    body {
        /* Margin bottom by footer height */
        margin-bottom: 460px;
    }
}

.footer-files {
    font-size: 12px;
}