g.provinces path {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.3;
}

g.counties path {
  stroke: #000;
  stroke-opacity: 0.1;
}

g.counties path.highlight {
  stroke-opacity: 0.9;
}

/*Add Tooltip Type here*/
div.tooltip {
  position: absolute;
  text-align: center;
  /*width: 180px;*/
  /*height: 28px;*/
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}

text.viz-title {
  text-anchor: middle;
  opacity: 0.9;
}

text.map-title {
  font-size: 20px;
}

text.linechart-title {
  font-size: 14px;
}


#slider_holder {
  margin-bottom: 20px;
  max-width: 760px;
  display: inline-block;
}

#toggle-autoplay-div {
  vertical-align: top;
  display: inline-block;
  margin-top: 14px;
  margin-left: 6px;
}