g.provinces path {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.3;
}

g.counties path {
  stroke: #000;
  stroke-opacity: 0.1;
}

g.counties path.highlight {
  stroke-opacity: 0.9;
}

/*Add Tooltip Type here*/
div.tooltip {
  position: absolute;
  text-align: center;
  /*width: 180px;*/
  /*height: 28px;*/
  padding: 4px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0;
  border-radius: 4px;
  pointer-events: none;
  min-width: 80px;
}

div.tooltip span.sp-left {
  float:left;
}
div.tooltip span.sp-right {
  float:right;
}
div.tooltip span.sp-center {
  position: absolute;
  left: 54%;
}

text.viz-title {
  text-anchor: middle;
  opacity: 0.9;
}

text.map-title {
  font-size: 20px;
}

text.linechart-title {
  font-size: 14px;
}


#slider_holder {
  margin-bottom: 20px;
  max-width: 760px;
  display: inline-block;
}

#toggle-autoplay-div {
  vertical-align: top;
  display: inline-block;
  margin-top: 14px;
  margin-left: 6px;
}

#right-seg {
  background-color: #efefef;
}

.line {
  fill: none;
  stroke: url(#aqi-gradient);
  stroke-width: 2.5px;
}

.foreign-box {
  text-align:justify;
  text-justify:auto;
}

#legend-desc-header {
  text-align: center;
  -webkit-text-stroke: 0.6px black;
  /*text-shadow:*/
      /*3px 3px 0 #000,*/
      /*-1px -1px 0 #000,*/
      /*1px -1px 0 #000,*/
      /*-1px 1px 0 #000,*/
      /*1px 1px 0 #000;*/
}

div.media h5 {
  text-align: center;
  margin-bottom: 0px;;
}

img.media-object {
  /*width: 120px;*/
  height: 128px;
}

h3.takeaway-header {
  color: gray;
}